@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(170, 170, 169);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  rgb(170, 170, 169);
}
.content{
    background-color: aliceblue;
    border-radius: 25px;
}
/*Área titulos*/
.title{
    font-size: 28px;
    font-weight: bold;
    color: #808080;
    text-align: center;
}
.lista{
    height: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.container-fluid{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.welcome{
    margin-right: 50px;
}
.aNome{
    color:blue;
}
